@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poiret+One&family=Roboto:wght@300;400;500&display=swap");
/*font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;*/
header.active {
  transform: translateY(-100%);
}

header.white {
  background-color: #fff;
}
header.white .left a {
  color: #0E141C;
}
header.white .right a {
  color: #0E141C;
}
header.white a h2 {
  color: #0E141C;
}

header {
  z-index: 100;
  transition: 0.3s;
  padding: 1%;
  position: relative;
}
header a h2 {
  font-family: "Poiret One", cursive;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  color: #0E141C;
}
header div {
  display: flex;
  justify-content: space-between;
}
header div .left a {
  font-family: "Poiret One", cursive;
  font-size: 1.2vw;
  position: absolute;
  left: 2%;
  top: 35%;
  color: #0E141C;
}
header div .right a {
  font-family: "Poiret One", cursive;
  font-size: 1.2vw;
  position: absolute;
  top: 35%;
  color: #0E141C;
}
header div .right a:nth-of-type(1) {
  right: 8%;
}
header div .right a:nth-of-type(2) {
  right: 2%;
}
header div .right a:nth-of-type(3) {
  display: none;
  right: 2%;
}

footer {
  background-color: #0E141C;
  color: #fff;
  width: 100%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5vw;
}
footer .info ul {
  display: flex;
}
footer .info ul li {
  margin-right: 8%;
}
footer .info p:nth-of-type(1) {
  margin: 5% 0;
}
footer h2 {
  font-family: "Poiret One", cursive;
  font-size: 2vw;
  font-weight: 300;
}

.heart {
  font-size: 0%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4%;
  right: 4%;
  background: url(../resource/icon/bi_heart.png) no-repeat center;
}

.comment {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/comment.png) no-repeat center;
}

.arrow {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/arrow.png) no-repeat center;
}

.close {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/close.png) no-repeat center;
}

.location {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/ep_location.png) no-repeat center;
}

.thumnail {
  padding-bottom: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thumnail li {
  position: relative;
  width: 22%;
  padding-top: 22%;
  margin-bottom: 4%;
}
.thumnail li .thum {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 0;
}
.thumnail li .thum img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumnail li .text {
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  padding: 0 0 4% 4%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}
.thumnail li .text h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2%;
}
.thumnail li .text p {
  margin-bottom: 1%;
}
.thumnail li .text p span {
  margin-left: 2%;
}

.popup-shadow.active {
  display: block;
}

.popup-shadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
}
.popup-shadow .popup-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  background-color: #fff;
}
.popup-shadow .popup-all .popup {
  width: 100%;
  padding: 2%;
  margin: 0 auto;
  position: relative;
}
.popup-shadow .popup-all .popup .close {
  position: absolute;
  right: 3%;
  top: 5%;
  z-index: 5;
}
.popup-shadow .popup-all .popup .popup-arrow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-shadow .popup-all .popup .popup-arrow .arrow:nth-of-type(1) {
  margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
}
.popup-shadow .popup-all .popup .popup-arrow .arrow:nth-of-type(2) {
  transform: rotate(180deg);
  margin-right: 3%;
  text-decoration: none;
  cursor: pointer;
}
.popup-shadow .popup-all .popup .m-img {
  display: none;
}
.popup-shadow .popup-all .popup .p-main {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.popup-shadow .popup-all .popup .p-main .popup-txt {
  width: 100%;
  padding: 7% 0;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-title h3 {
  font-size: 24px;
  font-weight: 400;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-title .heart1 {
  display: block;
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/bi_heart-navy.png) no-repeat center;
}
.popup-shadow .popup-all .popup .p-main .popup-txt hr {
  margin: 2% 0;
  background-color: rgba(40, 66, 87, 0.431372549);
  height: 2px;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left {
  width: 50%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .popup-img {
  width: 29vw;
  height: 20vw;
  overflow: hidden;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .popup-img img {
  width: 100%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt h4 {
  font-weight: 500;
  margin: 2% 0;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt p {
  line-height: 30px;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt h4 {
  font-weight: 500;
  margin-bottom: 2%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt div .p {
  width: 20%;
  color: #284257;
  font-weight: 400;
  line-height: 30px;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt div span {
  color: #000000;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt .inst-wrap::after {
  content: "ㆍ";
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt .inst-wrap:last-of-type:after {
  content: "";
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt iframe {
  overflow: hidden;
  margin: 2% 0;
}

@media (max-width: 767px) {
  .popup-shadow {
    width: 100%;
    height: 100%;
    position: static;
    background-color: none;
    z-index: 100;
  }
  .popup-shadow .popup-all {
    width: 100vw;
  }
  .popup-shadow .popup-all .close {
    display: none;
  }
  .popup-shadow .popup-all .popup .popup-arrow {
    display: none;
    width: 0;
  }
  .popup-shadow .popup-all .popup {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .popup-shadow .popup-all .popup .m-img {
    display: block;
    overflow: hidden;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .popup-shadow .popup-all .popup .m-img img {
    width: 100%;
    transform: translateY(20%);
  }
  .popup-shadow .popup-all .popup .p-main {
    width: 90%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-title h3 {
    font-size: 5vw;
    font-weight: 500;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-title .heart1 {
    display: block;
    font-size: 0%;
    width: 20px;
    height: 20px;
    background: url(../resource/icon/bi_heart-navy-small.png) no-repeat center;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main {
    flex-direction: column;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left {
    order: 2;
    width: 100%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .popup-img {
    display: none;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt h4 {
    font-size: 4.5vw;
    margin-top: 5%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt p {
    font-size: 4vw;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right {
    order: 1;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt h4 {
    font-size: 4.5vw;
    margin-top: 5%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt span {
    font-size: 4vw;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt p {
    font-size: 4vw;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt iframe {
    width: 100%;
    height: 20%;
  }
}
html, body {
  margin: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: none;
  vertical-align: top;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body header {
  color: #0E141C;
}
body header .right a:nth-of-type(1) {
  right: 15%;
  display: none;
}
body header .right a:nth-of-type(3) {
  right: 8.5%;
  display: none;
}
body header .right a:nth-of-type(4) {
  right: 2%;
  display: none;
}
body iframe {
  margin: 3%;
}/*# sourceMappingURL=communuty.css.map */