@import "_common";

*{font-weight: 400;}

header {
    position: fixed;
    width: 100%;
    color: #fff;
    div {
        .left {
            display: none;
            a {color: #fff;}
        }
        .right {
            a {color: #fff;}
            // MY PAGE
            a:nth-of-type(3){
                // display: none;
                right: 2%;
            }
            // LOGOUT
            a:nth-of-type(4){
                display: none;
            }
        }
    }
    a{
        h2 {color: #fff;}
    }
}

.title {
    h3 {
        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            border-top: 1px solid #4F4F4F;
        }
        font-size: 1.2vw; font-weight: 400; text-align: center;
        color: #4F4F4F;
    }
    p {
        font-size: 2vw; color: #4F4F4F;
        span {font-size: 2vw; font-weight: 700; color: #284257;}
    }
}

main {
    .main-bg {
        width: 100%; 
        img {
            width: 100%;
        }
    }
    .hot {
        width: 95%; margin: 10% 5%;
        // height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .title {
            width: 20%;
            h3 {
                width: 45%;
                margin-bottom: 10%;
            }
        }
        .slide {
            width: 70%;
            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
                li.active {
                    transform: scale(1.2);
                    transition: 0.5s;
                    p {font-size: 80px; font-weight: 700; color: rgba(19, 40, 57, 0.5);}
                    div {
                        position: relative;
                        p {
                            position: absolute; left: 2%; bottom: 2%;
                            font-size: 12px; font-weight: 300; color: #fff;
                            display: block;
                            span {
                                background: url(../resource/icon/location16.png) no-repeat center;
                                display: inline-block; width: 18px; height: 18px;
                            }
                        }
                        img {width: 100%; opacity: 1;}
                    }
                }
                li {
                    width: 26%;
                    p {font-size: 80px; font-weight: 700; color: rgba(19, 40, 57, 0.1);}
                    div {
                        position: relative;
                        p {
                            position: absolute; left: 2%; bottom: 2%;
                            font-size: 16px; font-weight: 300; color: #fff;
                            display: none;
                            span {
                                background: url(../resource/icon/location16.png) no-repeat center;
                                display: inline-block; width: 18px; height: 18px;
                                vertical-align: middle;
                            }
                        }
                        img {width: 100%; opacity: 0.2;}
                    }
                }
            }
        }
    }
    .main-banner {
        background-color: rgba(40, 66, 87, 0.1);
        width: 100%; 
        position: relative;
        .banner {
            width: 100%;
            img {width: 100%; vertical-align: middle;}
        }
        .txt {
            position: absolute;
            top: 50%; right: 10%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                color: rgba(40, 66, 87, 0.8);
                font-size: 1.3vw;
            }
            span {
                font-size: 2.6vw; font-weight: 700;
                color: #284257;
                margin: 2% 0 4%;
            }
            a {color: #000; font-size: 1vw;}
        }
    }
    .community {
        padding: 5%;
        overflow: hidden;
        .title {
            text-align: center;
            h3 {margin: 2% auto; width: 9%;}
        }
        .slide {
            width: 100%;
            position: relative;
            .phone {
                z-index: 10;
                position: absolute; left: 50%; top: -3%;
                transform: translateX(-50%);
                img {width: 14vw;}
            }
            >ul {
                position: relative;
                left: 0;
                transition: .5s;
                transform: translateX(41.7%);
                margin: 10% auto;
                width: 90%;
                display: flex;
                justify-content: space-between;
                >li {
                    &.active {transform: scale(1);}
                    transform-origin: 0 50%;
                    transform: scale(0.9);
                    transition: .5s;
                    width: 16.2%;
                    .bg {
                        position: relative;
                        img {width: 100%; border-radius: 20px;}
                        .txt {
                            &.active {display: flex; transition: .5s;}
                            display: none;
                            color: #fff;
                            .txt-t {
                                position: absolute; top: 4%; left: 6%;
                                .txt-t-t {
                                    width: 90%; margin-bottom: 10%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .pro {
                                        display: flex;
                                        align-items: center;
                                        img {width: 100%;}
                                        p {margin-left: 10%;}
                                    }
                                }
                                p, span {font-size: 10px; font-weight: 300;}
                                .detail {
                                    width: 90%;
                                }
                                span {
                                    display: block;
                                    margin-top: 2%;
                                }
                            }
                            .txt-b {
                                position: absolute; bottom: 4%; left: 6%;
                                width: 94%;
                                ul {
                                    width: 100%; margin: 0;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    li {
                                        &:nth-of-type(1) {width: 20%;}
                                        &:nth-of-type(2) {width: 20%;}
                                        &:nth-of-type(3) {width: 44%; a {margin-right: 4%;}}
                                        display: flex;
                                        align-items: center;
                                        a {margin-right: 10%;}
                                        span {font-size: 10px; font-weight: 300;}
                                    }
                                }
                                .heart {
                                    position: static; display: block;
                                    width: 18px; height: 18px;
                                    background: url(../resource/icon/heart16.png) no-repeat center;
                                }
                                .comment {
                                    display: block;
                                    width: 18px; height: 18px;
                                    background: url(../resource/icon/comment16.png) no-repeat center;
                                }
                                .location {
                                    display: block;
                                    width: 18px; height: 18px;
                                    background: url(../resource/icon/location16.png) no-repeat center;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .today {
        width: 80%; margin: 0 auto;
        .title {
            text-align: center;
            h3 {margin: 2% auto; width: 13%;}
        }
        ul {
            li {
                margin: 5% 0;
                position: relative;
                .txt {
                    width: 100%; padding: 2%;
                    position: absolute; left: 0; bottom: 0;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                    color: #fff;
                    span {font-size: 1vw;}
                    p {font-size: 1.4vw; margin-top: 1%;}
                }
                .shadow {
                    img {width: 100%;}
                }
            }
        }
    }
    .top{
        position: absolute;
        width: 50px; height: 50px;
        background-color: #0E141C;
        background-image: url("/resource/icon/bx_chevron-up.png");
        background-repeat: no-repeat;
        background-position: center;
        right: 4%; 
        transform: translateY(-200%);
        border-radius: 50px;
        a{
            font-size: 0;
        }
    }
}