@import "_common";

body{
    header{color: #0E141C;
            .right{
                a:nth-of-type(1){
                    right: 8%;
                }
                a:nth-of-type(3){
                    right: 2%;
                    display: none;
                }
                a:nth-of-type(4){
                    right: 2%;
                    display: none;
                }
    }}

    main{
        .my-page{
            width: 75%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .thumbnail-img{
                background-color: #132839;
                background-size: 100%;
                font-size: 0%; width: 7vw; height: 7vw;
                border-radius: 100%;
                margin: 2%;
                }
                .id{font-size: 1.2vw; font-weight: 600; margin-top: 0.5vw; color: #000;}
                .hi{font-size: 1.2vw; font-weight: 400; margin-top: 0.5vw; color: #000;}
        }
        .count{
            width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            p{
                margin: 0 2%;
                font-size: 1vw;
                span{font-weight: 500; margin-left: 0.2vw;}
            }
        }

        hr{width: 75%; color: #284257;}

        .thum-wrap{
            margin-bottom: 5%;
            .my-nav{width: 80%; margin: 3% auto; display: flex; justify-content: center;
                p{
                    text-decoration: none;
                    font-size: 1vw; font-weight: 600;
                }
            }
            .thumnail{
                display: flex;
                width: 80%; margin: 0 auto; padding: 0;
                li{
                    margin: 1.5%; 
                }
            }
        }
        .button{
            width: 100%; 
            display: flex; 
            justify-content: center; 
            align-items: center;
            margin-bottom: 8.3%;
            p{
                text-align: center;
                margin: 0 1%;
                text-decoration: none; cursor: pointer;
                color: #797979;
                font-weight: 400;
                // &:nth-of-type(1){color: #132839; font-weight: 600;}
                &.active{color: #132839; font-weight: 600;}
            }
        }
    }   
}

//mobile

/*header*/
.mobile{
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 100%; height: 60px;
        background-color:#0E141C;
        padding: 2%;
        a {
            h2 {
                color: #fff;
                font-family: 'Poiret One', cursive;
                font-size: 20px; font-weight: 300;
            }
        }
        .menu{
            display: flex;
            a{
                color: #fff;
                font-family: 'Poiret One', cursive;
                font-size: 12px;
                padding-right:10px;
            }
            a:nth-of-type(3){
                display: none;
            }
            a:nth-of-type(4){
                display: none;
            }
        }
}

.heart{background: url(../resource/icon/heart-white.png);}

@media (max-width: 767px) {
    header {display: none;}
    footer {display: none;}

    .mobile{
        display: flex;
    }

    main{
        margin-top: 5%;
        .my-page{
            .thumbnail-img{
                width: 10vw; height: 10vw;
            }
        }
        .thum-wrap{
            .my-nav{
                p{font-size: 15vw;}
            }
        }
        .thumnail{
            width: 75%;
            li{
                width: 45%; height: 36vw;
            }
        }
    }

    .heart{
        background: url(../resource/icon/heart-white.png);
        background-size: 70%;
        background-repeat: no-repeat;
        right: -2%; top: 7%; 
    }
}
