@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poiret+One&family=Roboto:wght@300;400;500&display=swap");
/*font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;*/
header.active {
  transform: translateY(-100%);
}

header.white {
  background-color: #fff;
}
header.white .left a {
  color: #0E141C;
}
header.white .right a {
  color: #0E141C;
}
header.white a h2 {
  color: #0E141C;
}

header {
  z-index: 100;
  transition: 0.3s;
  padding: 1%;
  position: relative;
}
header a h2 {
  font-family: "Poiret One", cursive;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  color: #0E141C;
}
header div {
  display: flex;
  justify-content: space-between;
}
header div .left a {
  font-family: "Poiret One", cursive;
  font-size: 1.2vw;
  position: absolute;
  left: 2%;
  top: 35%;
  color: #0E141C;
}
header div .right a {
  font-family: "Poiret One", cursive;
  font-size: 1.2vw;
  position: absolute;
  top: 35%;
  color: #0E141C;
}
header div .right a:nth-of-type(1) {
  right: 8%;
}
header div .right a:nth-of-type(2) {
  right: 2%;
}
header div .right a:nth-of-type(3) {
  display: none;
  right: 2%;
}

footer {
  background-color: #0E141C;
  color: #fff;
  width: 100%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6vw;
}
footer .info ul {
  display: flex;
}
footer .info ul li {
  margin-right: 8%;
}
footer .info p:nth-of-type(1) {
  margin: 5% 0;
}
footer h2 {
  font-family: "Poiret One", cursive;
  font-size: 2vw;
  font-weight: 300;
}

.heart {
  font-size: 0%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4%;
  right: 4%;
  background: url(../resource/icon/bi_heart.png) no-repeat center;
}

.comment {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/comment.png) no-repeat center;
}

.arrow {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/arrow.png) no-repeat center;
}

.close {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/close.png) no-repeat center;
}

.location {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/ep_location.png) no-repeat center;
}

.thumnail {
  padding-bottom: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.thumnail li {
  position: relative;
  width: 22%;
  padding-top: 22%;
  margin: 0 2% 4% 0;
}
.thumnail li .thum {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 0;
}
.thumnail li .thum img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumnail li .text {
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  padding: 0 0 4% 4%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}
.thumnail li .text h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2%;
}
.thumnail li .text p {
  margin-bottom: 1%;
}
.thumnail li .text p span {
  margin-left: 2%;
}

.popup-shadow.active {
  display: block;
}

.popup-shadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
}
.popup-shadow .popup-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  background-color: #fff;
}
.popup-shadow .popup-all .popup {
  width: 100%;
  padding: 2%;
  margin: 0 auto;
  position: relative;
}
.popup-shadow .popup-all .popup .close {
  position: absolute;
  right: 3%;
  top: 5%;
  z-index: 5;
}
.popup-shadow .popup-all .popup .popup-arrow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-shadow .popup-all .popup .popup-arrow .arrow:nth-of-type(1) {
  margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
}
.popup-shadow .popup-all .popup .popup-arrow .arrow:nth-of-type(2) {
  transform: rotate(180deg);
  margin-right: 3%;
  text-decoration: none;
  cursor: pointer;
}
.popup-shadow .popup-all .popup .m-img {
  display: none;
}
.popup-shadow .popup-all .popup .p-main {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.popup-shadow .popup-all .popup .p-main .popup-txt {
  width: 100%;
  padding: 7% 0;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-title h3 {
  font-size: 24px;
  font-weight: 400;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-title .heart1 {
  display: block;
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/bi_heart-navy.png) no-repeat center;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-title .heart1.active {
  background: url(../resource/icon/heart-navy.png) no-repeat center;
}
.popup-shadow .popup-all .popup .p-main .popup-txt hr {
  margin: 2% 0;
  background-color: rgba(40, 66, 87, 0.431372549);
  height: 2px;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left {
  width: 50%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .popup-img {
  width: 29vw;
  height: 20vw;
  overflow: hidden;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .popup-img img {
  width: 100%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt h4 {
  font-weight: 500;
  margin: 2% 0;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt p {
  line-height: 30px;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right {
  width: 50%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt h4 {
  font-weight: 500;
  margin-bottom: 2%;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt:nth-of-type(2) h4 {
  margin: 2% 0;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt div:nth-of-type(6) div {
  justify-self: center;
  width: 15vw;
  text-align: center;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt div .p {
  width: 20%;
  color: #284257;
  font-weight: 400;
  line-height: 30px;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt div span {
  color: #000000;
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt .inst-wrap::after {
  content: "ㆍ";
}
.popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt .inst-wrap:last-of-type:after {
  content: "";
}

@media (min-width: 1190px) and (max-width: 1619px) {
  .thumnail li {
    width: 30%;
    height: 21vw;
  }
}
@media (max-width: 1189px) {
  .thumnail li {
    width: 30%;
    height: 21vw;
  }
  .thumnail li .text h3 {
    font-size: 1.8vw;
  }
  .thumnail li .text p {
    font-size: 1.3vw;
  }
  .thumnail li .text p span {
    font-size: 1.3vw;
  }
}
@media (max-width: 767px) {
  .popup-shadow {
    width: 100%;
    height: 100%;
    position: static;
    background-color: none;
    z-index: 100;
  }
  .popup-shadow .popup-all {
    width: 100vw;
  }
  .popup-shadow .popup-all .close {
    display: none;
  }
  .popup-shadow .popup-all .popup .popup-arrow {
    display: none;
    width: 0;
  }
  .popup-shadow .popup-all .popup {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .popup-shadow .popup-all .popup .m-img {
    display: block;
    overflow: hidden;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .popup-shadow .popup-all .popup .m-img img {
    width: 100%;
    transform: translateY(20%);
  }
  .popup-shadow .popup-all .popup .p-main {
    width: 90%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-title h3 {
    font-size: 5vw;
    font-weight: 500;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-title .heart1 {
    display: block;
    font-size: 0%;
    width: 20px;
    height: 20px;
    background: url(../resource/icon/bi_heart-navy-small.png) no-repeat center;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main {
    flex-direction: column;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left {
    order: 2;
    width: 100%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .popup-img {
    display: none;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt h4 {
    font-size: 4.5vw;
    margin-top: 5%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-left .left-txt p {
    font-size: 4vw;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right {
    width: 100%;
    order: 1;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt h4 {
    font-size: 4.5vw;
    margin-top: 5%;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt span {
    font-size: 4vw;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt p {
    font-size: 4vw;
  }
  .popup-shadow .popup-all .popup .p-main .popup-txt .popup-main .popup-right .right-txt iframe {
    width: 100%;
    height: 20%;
  }
}
html, body {
  margin: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: none;
  vertical-align: top;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body header {
  color: #0E141C;
}
body header .right a:nth-of-type(1) {
  right: 8%;
}
body header .right a:nth-of-type(3) {
  right: 2%;
  display: none;
}
body header .right a:nth-of-type(4) {
  right: 2%;
  display: none;
}
body main .my-page {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
body main .my-page .thumbnail-img {
  background-color: #132839;
  background-size: 100%;
  font-size: 0%;
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
  margin: 2%;
}
body main .my-page .id {
  font-size: 1.2vw;
  font-weight: 600;
  margin-top: 0.5vw;
  color: #000;
}
body main .my-page .hi {
  font-size: 1.2vw;
  font-weight: 400;
  margin-top: 0.5vw;
  color: #000;
}
body main .count {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
body main .count p {
  margin: 0 2%;
  font-size: 1vw;
}
body main .count p span {
  font-weight: 500;
  margin-left: 0.2vw;
}
body main hr {
  width: 75%;
  color: #284257;
}
body main .thum-wrap {
  margin-bottom: 5%;
}
body main .thum-wrap .my-nav {
  width: 80%;
  margin: 3% auto;
  display: flex;
  justify-content: center;
}
body main .thum-wrap .my-nav p {
  text-decoration: none;
  font-size: 1vw;
  font-weight: 600;
}
body main .thum-wrap .thumnail {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
body main .thum-wrap .thumnail li {
  margin: 1.5%;
}
body main .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8.3%;
}
body main .button p {
  text-align: center;
  margin: 0 1%;
  text-decoration: none;
  cursor: pointer;
  color: #797979;
  font-weight: 400;
}
body main .button p.active {
  color: #132839;
  font-weight: 600;
}

/*header*/
.mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #0E141C;
  padding: 2%;
}
.mobile a h2 {
  color: #fff;
  font-family: "Poiret One", cursive;
  font-size: 20px;
  font-weight: 300;
}
.mobile .menu {
  display: flex;
}
.mobile .menu a {
  color: #fff;
  font-family: "Poiret One", cursive;
  font-size: 12px;
  padding-right: 10px;
}
.mobile .menu a:nth-of-type(3) {
  display: none;
}
.mobile .menu a:nth-of-type(4) {
  display: none;
}

.heart {
  background: url(../resource/icon/heart-white.png);
}

@media (max-width: 767px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  .mobile {
    display: flex;
  }
  main {
    margin-top: 5%;
  }
  main .my-page .thumbnail-img {
    width: 10vw;
    height: 10vw;
  }
  main .thum-wrap .my-nav p {
    font-size: 15vw;
  }
  main .thumnail {
    width: 75%;
  }
  main .thumnail li {
    width: 45%;
    height: 36vw;
  }
  .heart {
    background: url(../resource/icon/heart-white.png);
    background-size: 70%;
    background-repeat: no-repeat;
    right: -2%;
    top: 7%;
  }
}/*# sourceMappingURL=my-page.css.map */