@import "_common";

body{

    header{color: #0E141C;
            .right{
                a:nth-of-type(1){
                    right: 8%;
                }
                a:nth-of-type(3){
                    right: 2%;
                    display: none;
                }
                a:nth-of-type(4){
                    right: 2%;
                    display: none;
                }
    }}

    main{
        .my-page{
            width: 70%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .thumbnail-img{
                background-color: #132839;
                background-size: 100%;
                font-size: 0%; width: 5vw; height: 5vw;
                border-radius: 100%;
                margin: 2%;
                }
                .id{font-size: 1.2vw; font-weight: 600; margin-top: 0.5vw; color: #000;}
                .hi{font-size: 1.2vw; font-weight: 400; margin-top: 0.5vw; color: #000;}
        }
        .count{
            width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            p{
                margin: 0 2%;
                font-size: 1vw;
                span{font-weight: 500; margin-left: 0.2vw;}
            }
        }

        hr{width: 70%; color: #284257;}

<<<<<<< HEAD
        .my-nav{width: 70%; margin: 3% auto; display: flex; justify-content: center;
            p{
                text-decoration: none; cursor: pointer;
                font-size: 1vw;
                &.active{font-weight: 500; color: #132839;}
=======
        //수정
        .thum-wrap{
            margin-bottom: 5%;
            .my-nav{width: 70%; margin: 3% auto; display: flex; justify-content: center;
                p{
                    text-decoration: none; cursor: pointer;
                    font-size: 1vw; font-weight: 600;
                }
            }
            .thumnail{
                display: flex;
                width: 70%; margin: 0 auto; padding: 0;
                li{
                    margin: 1.5%; 
                }
>>>>>>> bora
            }
        }
        .button{
            width: 100%; 
            display: flex; 
            justify-content: center; 
            align-items: center;
            margin-bottom: 8.3%;
            p{
                text-align: center;
                margin: 0 1%;
                text-decoration: none; cursor: pointer;
                color: #797979;
                font-weight: 400;
                // &:nth-of-type(1){color: #132839; font-weight: 600;}
                &.active{color: #132839; font-weight: 600;}
            }
        }
    }
}

.heart{background: url(../resource/icon/heart-white.png);}