@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poiret+One&family=Roboto:wght@300;400;500&display=swap");
/*font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;*/
header {
  padding: 1%;
  position: relative;
}

header a h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div .left a {
  font-family: 'Poiret One', cursive;
  font-size: 1.2vw;
  position: absolute;
  left: 2%;
  top: 35%;
}

header div .right a {
  font-family: 'Poiret One', cursive;
  font-size: 1.2vw;
  position: absolute;
  top: 35%;
}

header div .right a:nth-of-type(1) {
  right: 8%;
}

header div .right a:nth-of-type(2) {
  right: 2%;
}

footer {
  background-color: #0E141C;
  color: #fff;
  width: 100%;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6vw;
}

footer .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .info ul li {
  margin-right: 8%;
}

footer .info p:nth-of-type(1) {
  margin: 5% 0;
}

footer h2 {
  font-family: 'Poiret One', cursive;
  font-size: 2vw;
  font-weight: 300;
}

.heart {
  font-size: 0%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4%;
  right: 4%;
  background: url(../resource/icon/bi_heart.png) no-repeat center;
}

.comment {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/comment.png) no-repeat center;
}

.arrow {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/arrow.png) no-repeat center;
}

.close {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/close.png) no-repeat center;
}

.location {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/ep_location.png) no-repeat center;
}

.thumnail {
  padding-bottom: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumnail li {
  position: relative;
  width: 22%;
  padding-top: 22%;
  margin-bottom: 4%;
}

.thumnail li .thum {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 0;
}

.thumnail li .thum img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumnail li .text {
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 217, 217, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  padding: 0 0 4% 4%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.thumnail li .text h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2%;
}

.thumnail li .text p {
  margin-bottom: 1%;
}

.thumnail li .text p span {
  margin-left: 2%;
}

html, body {
  margin: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

main .main-wrap .title {
  text-align: center;
  padding: 5% 0;
  font-family: 'Roboto';
  font-weight: 600;
}

main .main-wrap .title h2 {
  color: #284257;
  font-size: 24px;
}

main .main-wrap .title p {
  color: #536879;
  font-size: 16px;
}

main .main-wrap .main-wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .main-wrap .main-wrap2 .filter {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 17%;
  height: 40%;
  padding: 1%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

main .main-wrap .main-wrap2 .filter .area {
  margin-bottom: 10%;
}

main .main-wrap .main-wrap2 .filter .area .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #4F4F4F;
}

main .main-wrap .main-wrap2 .filter .area .title .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-wrap .main-wrap2 .filter .area .title .icon p {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/ep_location.png) no-repeat center;
  margin-right: 10px;
}

main .main-wrap .main-wrap2 .filter .area .title span {
  font-size: 0%;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../resource/icon/arrow.png) no-repeat center;
  background-size: 50%;
}

main .main-wrap .main-wrap2 .filter .area .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

main .main-wrap .main-wrap2 .filter .area .ul .main-title {
  font-weight: 600;
  border: none;
  padding: 4px;
}

main .main-wrap .main-wrap2 .filter .area .ul li {
  padding: 5px;
  font-size: 14px;
}

main .main-wrap .main-wrap2 .filter .tema {
  margin-bottom: 7%;
}

main .main-wrap .main-wrap2 .filter .tema .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #4F4F4F;
}

main .main-wrap .main-wrap2 .filter .tema .title .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-wrap .main-wrap2 .filter .tema .title .icon p {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/Tema.png) no-repeat center;
  margin-right: 10px;
}

main .main-wrap .main-wrap2 .filter .tema .title span {
  font-size: 0%;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../resource/icon/arrow.png) no-repeat center;
  background-size: 50%;
}

main .main-wrap .main-wrap2 .filter .tema ul {
  padding-top: 7%;
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .main-wrap .main-wrap2 .filter .tema ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  color: #4F4F4F;
  font-size: 14px;
}

main .main-wrap .main-wrap2 .filter .tema ul li .camping {
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #4F4F4F;
  margin-bottom: 10px;
  border-radius: 50px;
  background: url(../resource/icon/camping.png) no-repeat center;
}

main .main-wrap .main-wrap2 .filter .tema ul li .glamping {
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #4F4F4F;
  margin-bottom: 10px;
  border-radius: 50px;
  background: url(../resource/icon/glamping.png) no-repeat center;
}

main .main-wrap .main-wrap2 .filter .tema ul li .caravan {
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #4F4F4F;
  margin-bottom: 10px;
  border-radius: 50px;
  background: url(../resource/icon/caravan.png) no-repeat center;
}

main .main-wrap .main-wrap2 .filter .tema ul li .car {
  font-size: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #4F4F4F;
  margin-bottom: 10px;
  border-radius: 50px;
  background: url(../resource/icon/car.png) no-repeat center;
}

main .main-wrap .main-wrap2 .filter .subject {
  margin-bottom: 20%;
}

main .main-wrap .main-wrap2 .filter .subject .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #4F4F4F;
}

main .main-wrap .main-wrap2 .filter .subject .title .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-wrap .main-wrap2 .filter .subject .title .icon p {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/subject.png) no-repeat center;
  margin-right: 10px;
}

main .main-wrap .main-wrap2 .filter .subject .title span {
  font-size: 0%;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url(../resource/icon/arrow.png) no-repeat center;
  background-size: 50%;
}

main .main-wrap .main-wrap2 .filter .subject .text {
  display: none;
}

main .main-wrap .main-wrap2 .filter .subject .text .text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-wrap .main-wrap2 .filter .subject .text .text1 p {
  width: 80px;
  height: 30px;
  border: 1px solid #4F4F4F;
  border-radius: 5px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
}

main .main-wrap .main-wrap2 .filter .subject .text .text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-wrap .main-wrap2 .filter .subject .text .text2 p {
  width: 60px;
  height: 30px;
  border: 1px solid #4F4F4F;
  border-radius: 5px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
}

main .main-wrap .main-wrap2 .filter .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-wrap .main-wrap2 .filter .btn a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #0E141C;
  border-radius: 10px;
  color: #fff;
  margin: 0 2%;
}

main .main-wrap .main-wrap2 .main {
  width: 70%;
  margin: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 4%;
}

main .main-wrap .main-wrap2 .main .thumnail {
  padding-bottom: 0%;
}

main .main-wrap .main-wrap2 .main .main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-wrap .main-wrap2 .main .main-btn p {
  padding: 50px 10px 100px 10px;
}
/*# sourceMappingURL=search.css.map */