@import "_common";


body{

    header{color: #0E141C;
        .right{
            a:nth-of-type(1){
                right: 15%;
            }
            a:nth-of-type(3){
                right: 8.5%;
                display: none;
            }
            a:nth-of-type(4){
                right: 2%;
                display: none;
            }
        }
    }


    main{
        width: 100%;
        .visual{
            margin-top: 5vw;
            position: relative;
            img{
                width: 100%;
                z-index: -1;
            }
            .shadow{
                width: 100%; height: 40%;
                display: block;
                bottom: 0; left: 0;
                position: absolute;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            }
            .visual-text{
                position: absolute;
                bottom: 12%; left: 5%;
                color: #fff;
                z-index: 3;
                p{font-size: 1vw;}
                h3{font-size: 2vw; margin-top: 1%; font-weight: 400;}
            }
        }
        .v-text{
            margin-top: 6vw;
            p{
                text-align: center;
                font-size: 1vw;
                b{
                    font-size: 1.4vw;
                    font-weight: 600;
                }
                &:nth-of-type(2){margin: 1.5vw 0;}
                &:nth-of-type(3){color: #595959; }
            }
        }
        .thumnail{
            width: 69%;
            margin: 6vw auto;
            padding-bottom: 0%;
        }
    }

}
