@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poiret+One&family=Roboto:wght@300;400;500&display=swap");
/*font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Roboto', sans-serif;*/
header {
  padding: 1%;
  position: relative;
}

header a h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div .left a {
  font-family: 'Poiret One', cursive;
  font-size: 1.2vw;
  position: absolute;
  left: 2%;
  top: 35%;
}

header div .right a {
  font-family: 'Poiret One', cursive;
  font-size: 1.2vw;
  position: absolute;
  top: 35%;
}

header div .right a:nth-of-type(1) {
  right: 8%;
}

header div .right a:nth-of-type(2) {
  right: 2%;
}

footer {
  background-color: #0E141C;
  color: #fff;
  width: 100%;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6vw;
}

footer .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .info ul li {
  margin-right: 8%;
}

footer .info p:nth-of-type(1) {
  margin: 5% 0;
}

footer h2 {
  font-family: 'Poiret One', cursive;
  font-size: 2vw;
  font-weight: 300;
}

.heart {
  font-size: 0%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4%;
  right: 4%;
  background: url(../resource/icon/bi_heart.png) no-repeat center;
}

.comment {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/comment.png) no-repeat center;
}

.arrow {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/arrow.png) no-repeat center;
}

.close {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/close.png) no-repeat center;
}

.location {
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(./resource/icon/ep_location.png) no-repeat center;
}

.thumnail {
  padding-bottom: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumnail li {
  position: relative;
  width: 22%;
  padding-top: 22%;
  margin-bottom: 3.8%;
}

.thumnail li .thum {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 0;
}

.thumnail li .thum img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumnail li .text {
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 217, 217, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  padding: 0 0 4% 4%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.thumnail li .text h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2%;
}

.thumnail li .text p {
  margin-bottom: 1%;
}

.thumnail li .text p span {
  margin-left: 2%;
}

html, body {
  margin: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

main {
  width: 80%;
  padding: 2%;
  margin: 3% auto;
  position: relative;
}

main .close {
  position: absolute;
  right: 3%;
  top: 5%;
}

main .popup-arrow {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

main .popup-arrow .arrow:nth-of-type(1) {
  margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
}

main .popup-arrow .arrow:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 3%;
  text-decoration: none;
  cursor: pointer;
}

main .m-img {
  display: none;
}

main .popup {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

main .popup .popup-txt {
  width: 100%;
  padding: 7% 0;
}

main .popup .popup-txt .popup-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .popup .popup-txt .popup-title h3 {
  font-size: 24px;
  font-weight: 400;
}

main .popup .popup-txt .popup-title .heart1 {
  display: block;
  font-size: 0%;
  width: 30px;
  height: 30px;
  background: url(../resource/icon/bi_heart-navy.png) no-repeat center;
}

main .popup .popup-txt hr {
  margin: 2% 0;
  background-color: #2842576e;
  height: 2px;
}

main .popup .popup-txt .popup-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .popup .popup-txt .popup-main .popup-left {
  width: 50%;
}

main .popup .popup-txt .popup-main .popup-left .popup-img {
  width: 29vw;
  height: 20vw;
  overflow: hidden;
}

main .popup .popup-txt .popup-main .popup-left .popup-img img {
  width: 100%;
}

main .popup .popup-txt .popup-main .popup-left .left-txt h4 {
  font-weight: 500;
  margin: 2% 0;
}

main .popup .popup-txt .popup-main .popup-left .left-txt p {
  line-height: 30px;
}

main .popup .popup-txt .popup-main .popup-right .right-txt h4 {
  font-weight: 500;
  margin-bottom: 2%;
}

main .popup .popup-txt .popup-main .popup-right .right-txt div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

main .popup .popup-txt .popup-main .popup-right .right-txt div .p {
  width: 20%;
  color: #284257;
  font-weight: 400;
  line-height: 30px;
}

main .popup .popup-txt .popup-main .popup-right .right-txt div span {
  color: #000000;
}

main .popup .popup-txt .popup-main .popup-right .right-txt .inst-wrap::after {
  content: 'ㆍ';
}

main .popup .popup-txt .popup-main .popup-right .right-txt .inst-wrap:last-of-type:after {
  content: '';
}

main .popup .popup-txt .popup-main .popup-right .right-txt iframe {
  width: 29vw;
  height: 10vw;
  overflow: hidden;
  margin: 2% 0;
}

@media (max-width: 767px) {
  .close {
    display: none;
  }
  main .popup-arrow {
    display: none;
    width: 0;
  }
  main {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  main .m-img {
    display: block;
    overflow: hidden;
    height: 30vh;
  }
  main .m-img img {
    width: 100%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  main .popup {
    width: 90%;
  }
  main .popup .popup-txt .popup-title h3 {
    font-size: 5vw;
    font-weight: 500;
  }
  main .popup .popup-txt .popup-title .heart1 {
    display: block;
    font-size: 0%;
    width: 20px;
    height: 20px;
    background: url(../resource/icon/bi_heart-navy-small.png) no-repeat center;
  }
  main .popup .popup-txt .popup-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .popup .popup-txt .popup-main .popup-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  main .popup .popup-txt .popup-main .popup-left .popup-img {
    display: none;
  }
  main .popup .popup-txt .popup-main .popup-left .left-txt h4 {
    font-size: 4.5vw;
    margin-top: 5%;
  }
  main .popup .popup-txt .popup-main .popup-left .left-txt p {
    font-size: 4vw;
  }
  main .popup .popup-txt .popup-main .popup-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .popup .popup-txt .popup-main .popup-right .right-txt h4 {
    font-size: 4.5vw;
    margin-top: 5%;
  }
  main .popup .popup-txt .popup-main .popup-right .right-txt p, main .popup .popup-txt .popup-main .popup-right .right-txt span {
    font-size: 4vw;
  }
  main .popup .popup-txt .popup-main .popup-right .right-txt iframe {
    width: 100%;
    height: 20%;
  }
}
/*# sourceMappingURL=popup.css.map */