@charset 'utf-8';
@import url('https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css');

html,body{margin:0; width:100%;}
ul,li{
    list-style:none; 
    padding:0; margin:0;
}
span,mark,i,code,em,strong,a,b,small{ display:inline-block;}
table{border-collapse: collapse;}
img{border:0;}

a{text-decoration: none; color:#929292;}
a:hover{text-decoration: none; }
*{
    box-sizing: border-box;
    font-size:16px;
    color:#929292;
    font-family: 'Nanum Square';
    margin:0;
}


.wh_cnt{
    width:100%; height:100vh;
    display:flex; justify-content: center; align-items: center;
}
.a_wrap{width:100%; height:100vh; overflow:hidden;}
header{
    width:16%; height:100%; position:fixed; background:#03193b;
    padding:3vw 1.6vw;
}
header h1{color:#97a2b6; font-size:1.6em; text-transform: uppercase; text-align:center;}
header h1:after{content:''; width:30%; border-bottom:2px solid #97a2b6; display:block; margin:30px auto;}
header nav{margin-top:50px;}
header nav ul{}
header nav ul li{color:#97a2b6; padding:14px 0; border-bottom:1px solid #102546;}

header nav ul li a{color:#97a2b6; line-height:1.2;}
header nav ul li div{padding-top:10px;}
header nav ul li div a{display:block;line-height:1.8; font-size:.9em; padding-left:20px;}

header nav aside{position:absolute; bottom:10%; left:40px; }
header nav aside p{color:#97a2b6;padding:10px 0;}
header nav aside p a{color:#97a2b6;}

section{
    width:80%; height:100vh; float:right;
}
.locate{margin:60px 0 40px 0; font-size:.9em;}
.ctgy{}

.ctgy th{background:#eee; color:#555;}
.ctgy th,.ctgy td{border:1px solid #ddd; padding:14px; color:#555;}
.ctgy td{width:33%;  padding:0; vertical-align: top;}
.ctgy td div{width:100%; max-height:300px; overflow:auto;}
.ctgy td div p{position:relative;}

.ctgy td input{display:block;width:100%; border:none; border-bottom:1px solid #eee; padding:10px 20px;}
.ctgy td p.active{border:2px solid #03193b;}
.ctgy td p.active input{ outline-style:none;}
.ctgy td p.last input{color:#f00};
.ctgy td p:last-of-type input{border-bottom:none;}
.ctgy td p > a{width:100%; display:block;}
.ctgy td span{position:absolute; right:10px; top:8px; display:none;}
.ctgy td span a{font-size:.6em; background:#aaa; padding:3px 5px;margin-right:5px; color:#fff;}
.ctgy td span a:hover{background:#3a589e; cursor: pointer;}
.ctgy td span a.active{background:#f00;}
.ctgy td p.active span{display:block;}

.ctgy td select{width:100%; height:300px; margin:0 auto; border:0;}
.ctgy td select option{text-indent:10px; padding:10px 0;}

.g_txt{padding:20px 0 50px 0; font-size:.9em; text-align:center;}
.g_txt input{vertical-align: middle;}

.edit_ctgy{
    border:1px solid #ddd;
    padding:0px;
    width:95%;
}
.edit_ctgy h2{
    background:#eee; border-bottom:1px solid #ddd; text-align:center;
    padding:14px 0; color:#555;
}
.edit_ctgy div{padding:50px; text-align:center;}
.edit_ctgy div p{padding-bottom:10px;}
.edit_ctgy div code{height:30px; line-height:30px; vertical-align: top;}
.edit_ctgy div code i{content:'>'; padding:0 10px; font-style: normal;}
.edit_ctgy div input{height:30px; vertical-align: top; margin:5px 0;}
.edit_ctgy div a{
    height:30px; vertical-align: top; padding:0px 20px; background:#000; color:#fff;
    line-height:30px; font-size:.9em;
}
.edit_ctgy div p a{
    background:none; color:#555; text-decoration: underline;
    padding-top:40px;
}


.p_addList{margin:60px 0; width:95%;}
.p_addList h2{color:#555; font-size:1.6em; padding-bottom:20px; font-weight: normal;}
.p_addList table{width:100%;}
.p_addList table th,.p_addList table td{border:1px solid #ddd; color:#555;}
.p_addList table th{width:20%; background:#eee;}
.p_addList table td{padding:10px 30px;}
.p_addList table td input{width:100%;padding:4px; background:#fff; border:1px solid #aaa;}
.p_addList table td textarea{width:100%; padding:10px; height:100px;}
.p_addList table td input[type=file]{border:none; width:auto; margin-top:10px; padding:0; font-size:.8em;}
.p_addList table td i{
    font-size:.8em; white-space: pre-line; line-height: 1.8; vertical-align: middle;
}
.p_addList table td span{
    width:120px; height:120px; border:1px solid #aaa; padding:6px;
    vertical-align: middle;
    background:#fff url('../images/photo_defualt.gif') no-repeat center; margin-right:20px;
}
.p_addList table td span img{width:100%; height:100%;}
.btn, .btn_edit{text-align:center; margin-top:30px; padding-bottom:100px;}
.btn a,
.btn_edit a{padding:16px 100px; color:#fff; background: #000;}
.btn_edit a.gray{background:#999 !important;}
.smediter{}
.smediter textarea{width:99.9%; height:500px;}

/*list*/
.p_List{margin:60px 0; width:95%;}
.p_List h2{color:#555; font-size:1.6em; padding-bottom:20px; font-weight: normal;}
.p_List .result{font-size:.9em; color:#999; padding-bottom:10px;}
.p_List .result code{font-size:.9em; color:#555;}

.p_List table{width:100%;}
.p_List table th,
.p_List table td{border-bottom:1px solid #ddd; color:#555; padding:14px 0; text-align:center;}
.p_List table thead{}
.p_List table thead th{background:#eee; border-top:1px solid #ddd;}
.p_List table tbody{}
.p_List table tbody td{font-size:.9em;}
.p_List table tbody td:nth-of-type(1){width:100px;}
.p_List table tbody td:nth-of-type(2){width:100px; height:100px;}
.p_List table tbody td:nth-of-type(3){text-align:left; padding:0 20px;}
.p_List table tbody td:nth-of-type(4){width:100px;}
.p_List table tbody td:nth-of-type(5){width:150px;}
.p_List table tbody td p{
    border:1px solid #aaa;padding:5px; width:100px; height:100px;
    background:#fff url('../images/photo_defualt.gif') no-repeat center; 
}
.p_List table tbody td p a{width:100%; height:100%; background:none !important; padding:0 !important;}
.p_List table tbody td p img{width:100%; height:100%; border:none;}
.p_List table tbody td code{display:block; line-height:1.6; font-size:1em; color:#555;}
.p_List table tbody td code a{
    width:100%; height:100%; background:none !important; padding:0 !important;
    line-height:1.6; font-size:1em; color:#555;
}
.p_List table tbody td code:nth-of-type(2){font-size:.9em; color:#999;}
.p_List table tbody td i{font-style: normal; font-size:.9em; color:#555;}
.p_List table tbody td a{background:#333; padding:5px 10px; font-size:.9em; color:#fff;}
.p_List table tbody td a:nth-of-type(2){background:#999;margin-left:10px;}
.p_List table tbody td code b{color:#333;}


/*paging*/
.paging{ text-align:center; font-size:0; padding:50px 0;}
    .paging a{
        width:42px; height:42px; text-align:center; border:1px solid #e5e5e5; vertical-align: top;
        font-size:1rem; line-height:1.4; padding-top:9px; color:#000; margin:0 2px;
    }
    .paging a:hover,.paging a.active{color:#5b7f97; border:1px solid #e5e5e5; background:#e5e5e5; font-weight:600;}
    .paging .prev{ margin-right:40px;}
    .paging .prevall{}
    .paging .next{margin-left:40px;}
    .paging .nextall{}
    .paging .prev:before{content:'<'; font-weight:600; color:#5b7f97;}
    .paging .prevall:before{content:'<<'; font-weight:600; color:#5b7f97; letter-spacing:-4px;}
    .paging .next:before{content:'>'; font-weight:600; color:#5b7f97;}
    .paging .nextall:before{content:'>>'; font-weight:600; color:#5b7f97; letter-spacing:-4px;}
    .paging .prev.active,
    .paging .prevall.active,
    .paging .next.active,
    .paging .nextall.active{background:#fff;}



.admin_info{}
.admin_info td{
    padding:40px !important; 
    text-align:center;
}
.admin_info td input{
    border:1px solid #555; width:100%; margin:10px auto;
    background:#f3f3f3; color:#333;  padding:14px 20px;
}
.admin_info td input::placeholder{color:#999;}
.admin_info td input[type=submit]{
    background:#000; color:#fff;
}

























